<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http  use-expressions="true">
		<intercept-url pattern="/admin*" access="hasAnyRole('ROLE_ADMIN','ROLE_TEAM','ROLE_USER')" />
		<form-login login-page="/login" default-target-url="/admin"
			authentication-failure-url="/loginError" />
		<logout logout-success-url="/logout" logout-url="/j_logout" />
		<!--  https://docs.kentico.com/k9/securing-websites/developing-secure-websites/cross-site-request-forgery-csrf-xsrf-->
		<csrf disabled="true" />
	</http>

	<authentication-manager>
		<authentication-provider>
		<!--  <user-service>
                <user name="mak" password=" mak" authorities="ROLE_USER" />
                <user name="siv" password="siv" authorities="ROLE_ADMIN" />
 
            </user-service> -->
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select userName, password, assigneeId from USERS where userName = ?"
				authorities-by-username-query="select u.userName, ur.authority from Users u, Authorities ur where u.userName = ur.userName and u.userName = ? " />
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="url"
			value="jdbc:mysql://localhost:3307/DB" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="root" />
	</beans:bean>

</beans:beans>
